*{
	padding: 0;
	margin:0;
	font-family:Arial,Helvetica,sans-serif;
	outline: none;
	list-style:none;
	text-decoration:none;
	font-size:0.85rem;
}
:root{
	--border-input:#dddddd;
	--form-login-tamanho:25vw;
	--tamanho-logo:12rem;
	--white:#ffffff;
	--black:#000000;
	--color-principal:#284B8F;
	--fundo-body:#fefefe;
	--container-registro:#fcfcfc;
}
html,
main,
body{
	height:80vh;
}
a{
	cursor: pointer;
}
.versão-sistema{
	padding:20px 0px;
}
.versão-sistema p{
	color:#eedede;
}
/*Estilização fomularios:*/ 

.btns{
	display:flex;
	flex-direction: column;
	margin-bottom: 30px;
}
.recursos{
	margin-bottom: 30px;
}
.btns b{
	text-align: center;
}
.btns a{
	margin-bottom:5px;
}
.container-btns{
	display:flex;
	flex-wrap: wrap-reverse;
	align-items:center;
	justify-content:center;
}
.margin{
	margin-bottom: 2rem;
}
.container-input{
	display:flex;
	flex-direction:column;
}
.container-login{
	align-items:center;
	display:flex;
	flex-direction:column;
	justify-content:center;
}
.container-login form{
	width:80vw;
}
label,summary{
	line-height:2.5rem;
}
input,select{
	border:none;
	border-bottom: 1px solid  var(--border-input);
	padding:.6rem;
}
legend{
	text-align:center;
	font-weight: bold;
	color:var(--color-principal);
	line-height:5rem;
}
input:focus{
	border-bottom: 1px solid var(--color-principal);
}
.titulação-form{
	margin-bottom: 2rem;
	margin-top: 2rem;
}
.titulação-form h1{
	font-size: 1rem;
	text-align:center;
}
.container-checkbox{
	display:flex;
	flex-direction: column;
}
.container-checkbox div{
	padding-left: 1rem;	
}
.container-logo{
	margin-bottom: 2rem;
}
.container-logo img{
	width:var(--tamanho-logo);
}
.btn-container a,
.container-input input[type='submit']{
	margin-top: 2rem;
	box-shadow: 1px 1px 1px 1px #dedede;
	cursor:pointer;
	color:var(--white);
	border-radius:2px;
	border:none;
	background:var(--color-principal);
}
.btn-container{
	margin-top: 2rem;
}
.btn-container a{
	padding: 10px 10px;
}
.container-divisão-form{
	margin-top: 10px;
}
/*fim*/

/*header*/
header{
	background:var(--fundo-body);
	box-shadow:1px 1px 1px 1px #eeeeee;
	padding:.4rem;
}
nav{
	display:none;
}
header nav ul{
	display:flex;
	flex-direction:column;
}
header nav ul li ul{
	display:none;
	flex-direction:column;
	background:var(--fundo-body);
	padding:unset;
}
header nav ul li ul li{	
	border-bottom: 1px solid #ededed;
}
header nav ul li ul li:hover a{
	color:var(--white);
}
header nav ul li ul li:hover{
	background:var(--color-principal);
}
header nav ul li:hover ul{
	margin-top: 15px;
	cursor:pointer;
	display:flex;
}
header nav ul li {
	border-top: 1px solid #ededed;
	padding: 10px 10px;
	padding-right: 10px;
}
header nav ul li a{
	color:var(--black);
}
.maker{
	background: var(--color-principal);
	box-shadow: 0px 1px 1px 1px #edeede;
	padding:10px 30px;
}
.maker a{
	color:var(--white);
}
.conatiner-header{
	display:flex;
	flex-direction:column;

}
.container-logo-header img{
	max-width:6rem;
}

.nav-container{
	padding: 2px 10px;
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.burger{
	cursor: pointer;
	display:block;
	padding-right: 20px;
}
.burger i{
	font-size: 2rem;
}
/*fim*/


/*body*/
.container-titulo{
	margin-top: 10px;
	margin-bottom:10px;	
}
.container-titulo h1{
	font-size:1.2rem;
	line-height:3rem;
	color:var(--color-principal);
}
.container{
	width:90vw;
	margin:auto;
	padding:10px 10px;
}
.users{
  background-color: var(--container-registro);
  border-bottom:1px solid #D2D2D2;
  box-shadow: 0px 1px 1px 1px #edeede;
  padding: 15px;
  font-size: 15px;
  display:flex;
  align-items: center;
  justify-content:space-between;
}
i,b{
	color:var(--color-principal);
}

.accordion {
  background-color:var(--container-registro);
  color: #444;
  border: none;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border-bottom:1px solid #D2D2D2;
  box-shadow: 0px 1px 1px 1px #edeede;
  text-align: justify;
  outline: none;
  font-size: 10px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: var(--color-principal);
  color:var(--white);
}

.panel {
  padding: 0 20px;
  background-color: #eeeeee;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.panel ul li{
	border-top: 1px solid #DCDCDC;
	padding:10px 10px;
}

.panel ul li a{
	background:var(--color-principal);
	border-radius:2px;
	padding:8px 10px;
	color:var(--white);
	box-shadow: 1px 1px 1px 1px #dedede;
}
#messagem{
	display:none;	
}
.erros{
	margin-top: 10px;
	margin-bottom: 10px;
	padding:20px 20px;
	background:var(--color-principal);
	border-radius:5px;
}
.erros h1,
.erros p{
	color:var(--white);
}
.unidade_atual{
	padding:10px 10px;
	color:var(--white);
	background:var(--color-principal);
}
.container-filter {
	margin-top:0px;
	margin-bottom: 20px;
}
details{
	margin-bottom:20px;
	margin-top: 20px;
}
.container-filter form div{
	display:flex;
	flex-direction: column;
	justify-content:space-between;
}
.pagination{
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.pagination strong{
	padding:10px 15px;
	background:var(--fundo-body);
}
.pagination a{
	padding:10px 10px;
	color:var(--white);
	background:var(--color-principal);
}
table {
  border-collapse: collapse;
  width: 100%;
}
caption,th, td {
  border:1px solid #dedede;
  text-align: center;
  padding: .5rem;
}

tr:nth-child(even){
	background-color: var(--color-principal);
	color:var(--white);
}

#form_filter_idade{
	display:none;
}
.danger{
	background:#FB8181;
	color:var(--white);
}
.warning{
	background:#FAF285;
}
.legenda ul{
	display:flex;
	margin-bottom:30px;
}
.legenda ul li{
	padding: 10px 10px;
	padding-right: 20px;
}
.legenda_danger{
	background:#FB8181;
}
.legenda_warning{
	background:#FAF285;
}
.legenda_livre{
	background:var(--container-registro);

}
/*fim*/
@media screen and (min-width:720px){
	*{
		font-size:1rem;
	}
	legend{
		text-align:unset;
	}
	.container-login form{
		width:var(--form-login-tamanho);
	}
	.container{
		width:70vw;
	}	
	.container-checkbox{
		flex-direction:row;
		align-items: center;
	}
	header nav ul {
		display:flex;
		flex-direction:row;
	}
	header nav ul li{
		border-top: inherit;
	}
	header nav ul li ul{
		width:200px;
		display:none;
		flex-direction:column;
		position:absolute;
		background:var(--fundo-body);
		box-shadow:1px 1px 1px 1px #eeeeee;
	}
	.conatiner-header{
		flex-direction: row;
		align-items:center;
		justify-content:space-between;
		width:70vw;
		margin:auto;	
	}
	.burger{
		display:none;
	}
		nav{
		display:block;
	}
	.container-btns{
		align-items:inherit;
		justify-content:space-between;
	}
	.btns{
		flex-direction: row;
		align-items:center;
	}
	.btns a{
		margin-right:5px;
		margin-bottom:unset;
	}
	.accordion {
		font-size: 15px;
	}
}